  <launch>


<!--S/N 1: 904412060717-->
<!--S/N 2: 912322061173-->

  <arg name="serial_no_upper"           value="904412060717"/>
  <arg name="serial_no_lower"           value="912322061173"/>

  <arg name="depth_width"               value="1280"/>
  <arg name="depth_height"              value="720"/>
  <arg name="enable_depth"              value="true"/>

  <!--Don't use sensors we don't have:-->
  <arg name="enable_fisheye"      value="false"/>
  <arg name="enable_gyro"         value="false"/>
  <arg name="enable_accel"        value="false"/>


  <!--<arg name="infra_width"        default="1280"/>-->
  <!--<arg name="infra_height"       default="720"/>-->
  <!--<arg name="enable_infra1"       default="true"/>-->
  <!--<arg name="enable_infra2"       default="true"/>-->

  <!--<arg name="color_width"         default="1280"/>-->
  <!--<arg name="color_height"        default="720"/>-->
  <!--<arg name="enable_color"        default="true"/>-->

  <!--<arg name="depth_fps"           default="30"/>-->
  <!--<arg name="infra_fps"           default="30"/>-->
  <!--<arg name="color_fps"           default="30"/>-->

  <!--<arg name="enable_sync"               default="false"/>-->
  <arg name="align_depth"               value="true"/>


    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no"        value="$(arg serial_no_lower)"/>
        <arg name="camera"           value="lower_realsense"/>
        <arg name="align_depth"      value="$(arg align_depth)"/>
        <arg name="depth_width"      value="$(arg depth_width)"/>
        <arg name="depth_height"     value="$(arg depth_height)"/>
        <arg name="enable_fisheye"   value="$(arg enable_fisheye)"/>
        <arg name="enable_gyro"      value="$(arg enable_gyro)"/>
        <arg name="enable_accel"     value="$(arg enable_accel)"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no"        value="$(arg serial_no_upper)"/>
        <arg name="camera"           value="upper_realsense"/>
        <arg name="align_depth"      value="$(arg align_depth)"/>
        <arg name="depth_width"      value="$(arg depth_width)"/>
        <arg name="depth_height"     value="$(arg depth_height)"/>
        <arg name="enable_fisheye"   value="$(arg enable_fisheye)"/>
        <arg name="enable_gyro"      value="$(arg enable_gyro)"/>
        <arg name="enable_accel"     value="$(arg enable_accel)"/>
    </include>
</launch>
