<?xml version="1.0"?>
<launch>
  <arg name="simulate" default="False"/>
  <arg name="record" default="False"/>
  <group if="$(eval simulate==False)">
    <!--Realsense-->
    <!--<include file="$(find flo_telepresence)/launch/realsense.launch">-->
    <!--  <arg name="record" value="$(arg record)"/>-->
    <!--</include>-->
    <!--Fisheye Camera-->
    <include file="$(find flo_telepresence)/launch/vid_stream_opencv.launch"/>
    <!--Audio-->
    <include file="$(find flo_telepresence)/launch/audio.launch"/>
    <!--Screen on Robot-->
    <!--WebRTC-->
    <include file="$(find flo_telepresence)/launch/webrtc.launch"/>
  </group>
  <group if="$(eval simulate==True)">
    <!--<node name="robot_screen" pkg="flo_telepresence" type="display.py"/>-->
    <!--TODO: Add in something to play a bag file on a loop with data from all realsenses and audio-->
    <!--WebRTC-->
    <include file="$(find flo_telepresence)/launch/webrtc-sim.launch"/>
  </group>

  <node name="robot_screen" pkg="flo_telepresence" type="display_cv.py" respawn="true">
      <param name="simulate" value="$(arg simulate)" />
  </node>
</launch>
