<?xml version="1.0"?>
<launch>
  <include file="$(find video_stream_opencv)/launch/camera.launch">
    <arg name="camera_name" value="fisheye_cam"/>
    <arg name="video_stream_provider" value="/dev/v4l/by-id/usb-HD_Camera_Manufacturer_USB_2.0_Camera-video-index0"/>
    <!--Should be 1280:-->
    <arg name="width" value="640"/>
    <!--Should be 1024:-->
    <arg name="height" value="480"/>
    <!--Should be 30-->
    <arg name="set_camera_fps" value="15"/>
  </include>
</launch>
